body, html{
    height: 100%;
}
.cidade {
    min-height:630px;
}
.dia {
    background-color: #87ceeb;
    transition: all 0.5s;
    transition-timing-function: linear;
    background-image: url("./img/nightSky.svg"); 
}
.noite {
    background-color: #0e0618;
    transition: all 0.5s;
    transition-timing-function: linear;
    background-image: url("./img/nightSky.svg");
}